[build]
  publish = "."
  command = "echo 'No build needed - static site'"
  ignore = "git diff --quiet HEAD^ HEAD ./"
  functions = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
